@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
body {
  background-color: black;
  font-family: "NeoDunggeunmoPro-Regular";
  color: white;
}

.header {
  color: white;
  display: flex;
  align-items: center;
}

.headerImage {
margin-right: 10px;
width: 64px;
height: 64px;
image-rendering: pixelated;
}

.noStyle {
  text-decoration: none;
}