.thumbnailContainer {
    width: 100%;
    height: 450px;

    display: flex;
    flex-wrap: wrap;
}

.settingContainer {
    margin: 25px;
    width: 35%;
    height: 100%;
}

.previewDiv {
    width: 65%;
    height: 100%;

    display: flex;         /* Flexbox를 활성화 */
    justify-content: center; /* 가로축을 중앙 정렬 */
    align-items: center;     /* 세로축을 중앙 정렬 */
    overflow: hidden;
    /* 둥근 모서리 */
    border-radius: 10px; /* 모서리를 둥글게 */

    /* 외부 그림자 */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur-radius, color */

    /* 내부 그림자 */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);

    /* 그라데이션 외곽선 */
    border: 3px solid transparent; /* 그라데이션을 적용하기 위해 투명한 외곽선 설정 */
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), linear-gradient(to right, rgb(190, 3, 3), brown); /* 첫 번째 그라데이션은 내부 콘텐츠, 두 번째는 외곽선 */
    background-origin: border-box; /* 외곽선 영역까지 배경 이미지를 확장 */
    background-clip: content-box, border-box; /* 내부 콘텐츠와 외곽선 영역을 지정 */
}

.previewImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imageSizeInput {
    width: 80px;
}

@media(max-width: 1200px) {
    .settingContainer {
        margin: 10px;
        width: 100%;
    }
    .previewDiv{
        width: 100%;
    }
}

@media(min-width: 1200px) {
    .settingContainer {
        margin: 10px;
        width: 20%;
    }
    .previewDiv{
        width: 40%  ;
    }
}